body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 32px;
    font-family: 'Helvetica';
    margin-top: 1.5em;
    margin-bottom: 1em;
}
h2 {
    font-family: 'Helvetica';
    margin-top: 1.5em;
    margin-bottom: 1em;
}
h3 {
    font-family: 'Helvetica';
    margin-top: 1.5em;
    margin-bottom: 1em;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
figcaption {
    font-style: italic;
}
figure {
    float: right;
    margin: 10px 10px 10px 10px;
}